/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
h2 { font-weight: bold;
    text-align: center;}
    span {font-style: italic;
    text-decoration: underline;
    padding: 20px;}
p {font-size: 20px;
    font-style: italic;}

body {background-color: rgb(0, 255, 255);
    font-family: Arial, Helvetica, sans-serif;}